<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<p:dataTable id="usersTable" var="user" value="#{cloudbean.users.users}" >
				<h:outputText value="Granded authorities: " />
					<p:column>
						<f:facet name="header">
							<h:outputText value="Username" />
						</f:facet>
						<h:outputText value="#{user.username}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="First name" />
						</f:facet>
						<h:outputText value="#{user.firstName}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Last name" />
						</f:facet>
						<h:outputText value="#{user.lastName}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Created" />
						</f:facet>
						<h:outputText value="#{user.created}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Is enabled" />
						</f:facet>
						<h:outputText value="#{user.enabled}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Authorities" />
						</f:facet>
						<h:outputText value="#{user.authorities}" />
					</p:column>
				</p:dataTable> 
		</ui:define>
	</ui:composition>
</h:body>

</html>