<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<h:form> 
		    <p:menubar>
		    	<p:menuitem value="Cloudbin" outcome="/pages/home/home" />  
		    	<p:menuitem value="Home" outcome="/pages/home/home" icon="ui-icon-close" />
		    	<p:menuitem value="About" outcome="/pages/unsecure/about" icon="ui-icon-help" />
		    	<p:menuitem value="Contact" outcome="/pages/unsecure/contact" icon="ui-icon-close" />
		    	 
		    	<p:submenu label="#{cloudbean.username}" icon="ui-icon-gear" rendered="#{'anonymousUser' != cloudbean.username}">  
	             	<p:menuitem value="Files" outcome="/pages/user/files" rendered="#{cloudbean.checkRole('ROLE_USER')}"/>
	             	<p:menuitem value="Users" outcome="/pages/admin/users" rendered="#{cloudbean.checkRole('ROLE_ADMIN')}"/>  
	                <p:menuitem value="Profile" outcome="/pages/user/profile" />  
	     		</p:submenu>
		        <f:facet name="options">
		        	  
		            <p:menuitem icon="ui-icon-extlink">
		            	<h:outputLink styleClass="btn" type="button" value="/front/j_spring_security_logout">Logout</h:outputLink>
		            </p:menuitem>  
		        </f:facet>  
		    </p:menubar>  
		</h:form>
	</ui:composition>
</body>
</html>
