<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<h:form enctype="multipart/form-data" >  
			    <p:fileUpload fileUploadListener="#{fileUploadController.handleFileUpload}"  
			            mode="advanced"   
			            update="filesTable"
			             />  
			    <p:growl id="messages" showDetail="true"/> 
			    <p:dataTable id="filesTable" var="userFile" value="#{cloudbean.userFiles}" >
					<p:column>
						<f:facet name="header">
							<h:outputText value="Filename" />
						</f:facet>
						<h:outputText value="#{userFile.filename}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Size" />
						</f:facet>
						<h:outputText value="#{userFile.fileSize}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Modified" />
						</f:facet>
						<h:outputText value="#{userFile.date}" />
					</p:column>
				</p:dataTable> 
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>

</html>