<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>

<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
		<p:fieldset legend="Profile" style="width : 90%;">  
		    <h:panelGrid columns="2" cellpadding="5" width="80%" cellspacing="5">  
		    	<h:outputText value="Username: " />
				<h:outputText value="#{cloudbean.userData.username}" />
				<h:outputText value="First name: " />
				<h:outputText value="#{cloudbean.userData.firstName}" />
				<h:outputText value="Last name: " />
				<h:outputText value="#{cloudbean.userData.lastName}" />
				<h:outputText value="Creation date: " />
				<h:outputText value="#{cloudbean.userData.created}" />
		    </h:panelGrid>  
		</p:fieldset> 
		</ui:define>
	</ui:composition>
</h:body>

</html>