<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<div id="company-info" class="section selected">
				<h1>What is Cloudbin?</h1>
					<p>Cloudbin is a free service that lets you bring all your
						photos, docs, and videos anywhere, and share them easily. Any file
						you save to your Cloudbin will automatically save to all your
						computers, your phone or iPad, and the Cloudbin website. Cloudbin
						also makes it easy to share with others. And if your computer
						melts down, you can restore all your files from the Cloudbin
						website with a couple clicks.</p>
					<h1>Global growth</h1>
					<ul class="blue-bullets">
						<li>Cloudbin has more than 100,000,000 users.</li>
						<li>People save one billion files to Cloudbin every 24 hours.</li>
						<li>Cloudbin is offered in fifteen languages: English,
							Spanish, Castilian Spanish, French, German, Japanese, Korean,
							Italian, Portuguese, Russian, Indonesian, Malay, Chinese
							(Simplified and Traditional), and Polish.</li>
						<li>Cloudbin has paying customers in over 200 countries.</li>
					</ul>
					<h1>Company background</h1>
					<ul class="blue-bullets">
						<li>Founded: June 2007</li>
						<li>Product launch: September 2008</li>
						<li>Cloudbin for Teams launch: In October 2011, Cloudbin
							launched Teams with administrative controls and plenty of space
							for workplace collaboration.</li>
						<li>Cloudbin Developer platform supports thousands of apps
							including Docs to Go, CloudOn, GoodReader, 1Password, with
							millions of monthly actives.</li>
						<li>Funding: $257.2 M from Sequoia Capital, Accel Partners,
							Index Ventures, Benchmark Capital, Goldman Sachs, Greylock
							Partners, Institutional Venture Partners, RIT Capital Partners,
							and Valiant Capital Partners.</li>
					</ul>
					<h1>How Cloudbin works</h1>
					<p>Cloudbin makes all your files available to you from any
						computer or phone. It's as easy as adding any file to your Cloudbin
						folder. You can start working at the office and finish from home
						without ever needing to think about where your files are - they
						are always with you.</p>
					<br/><p>Joining Cloudbin is easy: installing the Cloudbin
							software (free for Windows, Mac and Linux) creates a special
							folder on your computer. Anything you add to this Cloudbin folder
							will automatically save to all your computers and to the Cloudbin
							website. You can also invite people to share any folder in your
							Cloudbin. This makes Cloudbin perfect for team projects or sharing
							photos with family or friends - it will be as if you are saving
							straight to their desktop. The Cloudbin mobile apps (free for
							iPhone, Android and BlackBerry) let you take your life on the
							road. And because Cloudbin keeps a one month history of your work,
							you can go back in time to fix mistakes or rescue deleted files.</p>
						<br/><p>
								Cloudbin offers 2 GB free to start and you can earn up to 16 GB
								additional space for referring friends, or upgrade to a Pro
								account with up to 500 GB and 32 GB for referrals. Cloudbin for
								Business accounts start at 1 TB for 5 users. Learn more at <a
									href="https://www.Cloudbin.com/pricing">www.Cloudbin.com/pricing</a>.
							</p>
							<h1>The story of Cloudbin</h1>
							<p>Cloudbin was founded in 2007 by Drew Houston and Arash
								Ferdowsi. Frustrated by working from multiple computers, Drew
								was inspired to create a service that would let people bring all
								their files anywhere, with no need to email around attachments.
								Drew coded a demo of Cloudbin and showed it to fellow MIT student
								Arash Ferdowsi, who dropped out with only one semester left to
								help make Cloudbin a reality. Guiding their decisions was a
								relentless focus on crafting a simple and reliable experience
								across every computer and phone.</p>
							<h1>Features</h1>
							<h2>Your photos, docs and videos, anywhere</h2>
							<p>Any file you save to Cloudbin also instantly saves to your
								computers, phones, and the Cloudbin website.</p>
							<ul class="blue-bullets">
								<li>Work even when offline. You always have your files,
									whether or not you have a connection.</li>
								<li>Your files are always available from the secure Cloudbin
									website.</li>
								<li>Cloudbin works with Windows, Mac, Linux, iPhone, iPad,
									Android and BlackBerry.</li>
							</ul>
							<h2>Simple sharing</h2>
							<p>Shared folders and links allow people to work together and
								send large files in a snap.</p>
							<ul class="blue-bullets">
								<li>Invite friends, family or teammates to a folder. It'll
									be as if you saved the folder to their computers.</li>
								<li>See other people's changes instantly.</li>
								<li>Create a link to files and folders in your Cloudbin to
									friends and coworkers - even if they don't use Cloudbin.</li>
							</ul>
							<h2>Cloudbin mobile</h2>
							<p>Apps for iPhone, iPad, Android, and BlackBerry keep your
								Cloudbin always at hand.</p>
							<ul class="blue-bullets">
								<li>Bring your files with you when you're on the go.</li>
								<li>Edit files in your Cloudbin from your phone.</li>
								<li>Share freely with family and friends.</li>
								<li>Automatically upload your photos and videos to Cloudbin
									(available for Android).</li>
							</ul>
							<h2>Your stuff is safe</h2>
							<p>Cloudbin protects your files without you needing to think
								about it.</p>
							<ul class="blue-bullets">
								<li>Cloudbin keeps a one-month history of your work.</li>
								<li>Any changes can be undone, and files can be undeleted.</li>
								<li>Transmission of files occurs over an encrypted channel
									(SSL) where supported, and files are encrypted when stored on
									Cloudbin's servers.</li>
							</ul>
			</div>
		</ui:define>
	</ui:composition>

</h:body>
</html>