<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<div class="hero-unit">
				<h3>Contact us :</h3>
				<a href="mailto:raman.yelianevich@gmail.com">raman.yelianevich@gmail.com</a>
			</div>
		</ui:define>
	</ui:composition>
    
</h:body>
</html>