<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="js" name="jquery-1.9.1.js" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-responsive.min.css" />
	<h:outputStylesheet library="js" name="bootstrap.min.js" />
</h:head>

<h:body>
	<div id="wrap">
		<div id="main" class="container clear-top">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="/template/common/header.xhtml" />
				</ui:insert>
			</div>
		
			<div class="container" style="margin-top: 25px;">
				<ui:insert name="content" />
			</div>
		</div>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<ui:include src="/template/common/footer.xhtml" />
		</ui:insert>
	</div>
</h:body>

</html>