<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<div class="hero-unit">
					<h1>Cloudbin storage</h1>
					<p>Always available.</p>
					<p></p>
					<p>Hi, Cloudbin user! Please, use login form to get access to your files. Please make yourself at home!</p>
			</div>
			<div align="center">
	        	<h:form  id="loginFormId" rendered="#{'anonymousUser' == cloudbean.username}">
	                <div id="loginFieldsPnlId">
	                    <div id="loginFieldUsrContId">
	                        <h:outputText id="outTxtUserNameId" value="Username: " name="outTxtUserNameNm" />
	                        <h:inputText id="userName" required="true" value="#{loginMgmtBean.userName}" requiredMessage="Please enter username"/>
	                        <h:outputLabel id="outLblUserNameId" for="userName" name="outLblUserNameNm" />
	                    </div>
	                    <div id="loginFieldPassContId">
	                        <h:outputText id="outTxtPasswordId" value="Password: " name="outTxtPasswordNm" />
	                        <h:inputSecret id="password"  required="true" value="#{loginMgmtBean.password}" requiredMessage="Please enter password" name="inTxtPasswordNm"/>
	                        <h:outputLabel id="outLblPasswordId" for="password" name="outLblPasswordNm" />
	                    </div>
	                </div>
	                <div id="loginBtnPanelId">
	                    <h:commandButton id="btnLoginId" value="Login" action="#{loginMgmtBean.login}" styleClass="loginPanelBtn" />
	                    <h:commandButton id="btnCancelId" value="Cancel" action="#{loginMgmtBean.cancel}" styleClass="loginPanelBtn" immediate="true" update="loginFormId"/>
	                </div>
	        	</h:form>
	        	<div class="text-error">
		        	<h:messages></h:messages>
		    	</div>
		    </div>
		    
		</ui:define>
	</ui:composition>
</h:body>

</html>
